# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.tlog

DewaterIQ/x64/Debug/qt/moc/

DewaterIQ/x64/Debug/qt/qmake/

DewaterIQ/x64/Debug/qt/

DewaterIQ/.vs/DewaterIQ/v17/

DewaterIQ/.vs/DewaterIQ/FileContentIndex/

.vs/DewaterIQ/FileContentIndex/

.vs/DewaterIQ/v17/

DewaterIQ/x64/Debug/

x64/Debug/

build/Debug/.qtc_clangd/.cache/clangd/index/

build/Debug/

build/Release/

DewaterIQ

Makefile

*.csv#
